# Supabase Configuration
SUPABASE_URL=https://hnypmigzwfavwcwarmnk.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key_here

# QuickBooks Configuration
QB_CLIENT_ID=ABcPoVXTxYiF0DTS1XHFuh9NJMYamffDlLGFPIq155E5ZdPIXZ
QB_CLIENT_SECRET=your_qb_client_secret_here
QB_WEBHOOK_TOKEN=your_webhook_verifier_token_here
QB_ENVIRONMENT=sandbox
